html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

h1 {
    color: red;
}

h2 {
    color: green;
}

h3 {
    color: green;
}